{% extends 'base.html'%}

{% load static %}

{% block content %}

    <h1>Home Page</h1>
    <div class="row">
        <div class="col-md-8">
            <img src='{%static "home/img/planet-earth.png" %}' alt='home'>
        </div>
        <div class="col-md-4">
            <h5>Hello World!</h5>
            <p>Let's see if the modals work: <a href="#" data-slug="sdk-headers-in-catalina" class="one_para_modal modal_popup_link">SDK Headers in Catalina</a></p>
            <p>Yes, but good-bye to the convenience method.</p>
        </div>
    </div>

{% endblock %}