{% extends 'base.html'%}

{% load static %}

{% block content %}

    <h1>Inquiries and Observations</h1>
    <div class="clearfix">
        <h5><em>A lifetime of learning</em></h5>
        <img class="mr-3 default float-left"
             src="{%static 'home/img/fort_tryon_park.jpg' %}"
             alt='Fort Tryon Park, NYC'>
        <img class="ml-3 default float-right"
             src="{%static 'home/img/rodent&dandelion.jpg' %}"
             alt='Rodent and Dandelion'>
        <p>This site is all about learning and sharing information. Although I have many ideas for the future, for now it is a portfolio and study aid.</p>
        <p>When I am an employed programmer, work always comes first.  Yet, I always imagine applications to create. This site will eventually give me the platform to do that.</p>
        <p>But in the here and now, my first goal is to create a site, helping me learn whatever I want, whenever I want, and to share the information with anyone interested. </p>
     </div>
     <div class="row">
     <div class="col-md-5">
        <p>Note about <a href="#" data-slug="home-page-images" class="one_para_modal modal_popup_link">home page images</a></p>
        <img class="default float-left"
                src="{%static 'home/img/ninja_circle_2.png' %}"
                alt='black cat named Ninja'>
     </div>
     <div class="col-md-7">
        <h5><em>Current Goals</em></h5>
        <p>
        <ol>
            <li>Study how to become an independent contractor, making necessary changes to this site.</li>
            <li>Polish Resume and Exercise sections</li>
            <li>Add and improve content</li>
            <li>Finish writing automated tests.</li>
            <ul>
                <li>Unit tests</li>
                <li>Integration Tests</li>
                <li>UI Tests</li>
            </ul>
            <li>Ideas on how to proceed with Python/Django site</li>
            <ul>
                <li>Create lambda (AWS) processor for images, thinking of writing it in Ruby.</li>
                <li>Add tagging</li>
                <li>Add blog, could do so easily, but could also use Drupal.</li>
                <li>Add more devops type of automation.</li>
            </ul>
            <li>Ideas on how to proceed with Drupal</li>
            <ul>
                <li>Learn how Drupal works.</li>
                <li>Add development environment and eventually integrate it with Python site</li>
                <li>Contribute to Drupal Open Source</li>
            </ul>

        </ol>
        </p>
        </div>
    </div>
    </span>
{% endblock %}