appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
coverage==5.1
distlib==0.3.1
Django==3.0.7
django-appconf==1.0.4
django-autoslug==1.9.7
django-compressor==2.4
django-contrib-postgres==0.0.1
django-crispy-forms==1.9.1
django-extensions==3.0.0
django-libsass==0.8
filelock==3.0.12
flake8==3.8.3
idna==2.10
importlib-metadata==1.6.0
isort==4.3.21
jedi==0.17.1
lazy-object-proxy==1.4.3
libsass==0.20.0
mccabe==0.6.1
more-itertools==8.4.0
packaging==20.4
parso==0.7.0
pep8==1.7.1
pluggy==0.13.1
psycopg2==2.8.5
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.5.3
pylint-django==2.0.15
pylint-plugin-utils==0.6
pyparsing==2.4.7
pytest==5.4.3
pytest-django==3.9.0
pytest-mock==3.1.1
python-dotenv==0.13.0
python-jsonrpc-server==0.3.4
python-language-server==0.33.3
pytz==2020.1
rcssmin==1.0.6
requests==2.24.0
rjsmin==1.1.0
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.2
ujson==3.0.0
urllib3==1.25.9
virtualenv==20.0.25
virtualenv-clone==0.5.4
wcwidth==0.2.5
wrapt==1.12.1
zipp==3.1.0
