astroid==4.0.1
asttokens==3.0.0
autopep8==2.3.2
beautifulsoup4==4.14.2
boto3==1.40.64
botocore==1.40.64
decorator==5.2.1
dill==0.4.0
dotenv==0.9.9
executing==2.2.1
flake8==7.3.0
ipython==9.6.0
ipython_pygments_lexers==1.1.1
isort==7.0.0
jedi==0.19.2
jmespath==1.0.1
matplotlib-inline==0.2.1
mccabe==0.7.0
parso==0.8.5
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.0
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pylint==4.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
s3transfer==0.14.0
six==1.17.0
soupsieve==2.8
stack-data==0.6.3
tomlkit==0.13.3
traitlets==5.14.3
typing_extensions==4.15.0
urllib3==2.5.0
wcwidth==0.2.14
