-i https://pypi.org/simple
asgiref==3.2.7
attrs==19.3.0
certifi==2020.4.5.2
chardet==3.0.4
django-appconf==1.0.4
django-autoslug==1.9.7
django-compressor==2.4
django-contrib-postgres==0.0.1
django-extensions==2.2.9
django-libsass==0.8
django==3.0.7
idna==2.9
importlib-metadata==1.6.1 ; python_version < '3.8'
libsass==0.20.0
more-itertools==8.3.0
packaging==20.4
pluggy==0.13.1
psycopg2==2.8.5
py==1.8.1
pyparsing==2.4.7
pytest==5.4.3
python-dotenv==0.13.0
pytz==2020.1
rcssmin==1.0.6
requests==2.23.0
rjsmin==1.1.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
wcwidth==0.2.4
zipp==3.1.0
