{% extends 'base.html'%}

{% load static %}

{% block content %}

<h1>{{ project.title }}</h1>
<div class="demo">
  <h3>Vision</h3>
  <p>
    Demonstrations will eventually be a place for me to show small projects or try out new things.
  </p>
  <p>
    Currently, the site itself is a demonstration.
  </p>
  <h3>About this site</h3>
  <p>This site is written with Python (now v3.8.5), using the Django framework (now v3.1.8).  It uses postgreSQL and is <a href="{% url 'projects:study_paragraphs_group_slug' 'initial-deploy-on-aws' %}">deployed on AWS</a></p>
  <p>Most of the data is dynamic and is simple to load. Here is some documentation: <a class="reference_link" href="https://github.com/lizschley/number_six/blob/develop/scripts/documentation/update_process.md" target="_blank">Create and Update Development and Production Data</a></p>
  <p>The first dynamic data display, however, was directly from the <a class="reference_link" href="https://github.com/lizschley/number_six/blob/develop/data/demo/urban_coyotes.json" target="_blank">urban coyotes JSON</a> file.  This functionality continues to work.</p>
  <div class="btn-toolbar text-center well justify-content-center mr-5">
    <a class="btn btn-primary" href="{% url 'projects:demo_paragraphs' %}" role="button">Urban Coyotes</a>
    <a class="btn btn-primary" href="https://lizschley.org" role="button" target="_blank">Drupal Demo</a>
  </div>
</div>
{% endblock %}