{% extends 'base.html'%}

{% load static %}

{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-md-3">
        <h2>Click to Show</h2>
        {{ side_menu | safe }}
    </div>
    <div class="col-md-9">
    <h2>{{title}}</h2>
    {% for group in groups %}
    <div id={{ group.group_div_id }}>
        {% if group.paragraphs %}
            {{ group.paragraphs | safe }}
        {% endif %}
        {% if group.ref_links %}
            <h6>References</h6>
             {{ group.ref_links | safe }}
        {% endif %}
    </div>
    {% endfor %}
    </div>
    </div>
    </div>
{% endblock %}
