{% extends 'base.html'%}

{% load static %}

{% block content %}
    <div class='row'>
        <div class="col-md-3">
            <h2>Actions</h2>
            <a href="#" id="next_question_menu" class="question_group">Next Question</a>
            <br>
            <a href="#" id="remove_question_menu" class="question_group">Remove Question</a>
            <br>
            <a href="#" id="shuffle_questions_menu" class="question_group">Shuffle Questions</a>
        </div>
        <div class="col-md-9">
            <h2>{{title}}</h2>
            <div id='flashcard_message'></div>
            {% for group in groups %}
                <div id={{ group.group_div_id }} class={{ group.group_div_class}}>
                    {% if group.title %}
                        <h4>{{ group.title}}</h4>
                    {% endif %}
                    {% if group.paragraphs %}
                        {{ group.paragraphs | safe }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <input type='hidden' name='hidden_flashcard_divs' id='hidden_flashcard_divs' value={{hidden_flashcard_divs}} />
        <input type='hidden' name='currently_showing' id='currently_showing' value='' />
    </div>
{% endblock %}

