{% extends 'base.html'%}

{% load static %}

{% block content %}

  <div class="row">
        <div class="col-md-8">
            <h1>{{title}}</h1>
            <p>{{title_note}}</p>
        </div>
        <div class="col-md-4">
            <h1>References</h1>
        </div>
    </div>


   {% for para in paragraphs %}
       <div class="row">
            <div class="col-md-8">
                <h3> {{ para.subtitle | safe }} </h3>
                <p> {{ para.subtitle_note | safe }} </p>
                {{ para.text | safe }}
            </div>
            <div class="col-md-4">
               {{ para.references | safe }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
