{% extends 'base.html'%}

{% load static %}

{% block content %}

    <div class="row">
        <h1>{{title}}</h1>
        <p>{{title_note}}</p>
        {% if error %}
            <div class="alert alert-primary alert-dismissible fade show">
                <strong>Note: </strong>{{error}}
            </div>
        {% endif %}
    </div>
    <div id="accordion">
    {% for para in paragraphs %}
        <div class="card">
            <div class="card-header collapsed card-link"
                data-toggle="collapse"
                data-target={{para.collapse_selector_id}}
            >
                <h6> {{ para.subtitle | safe }} </h6>
            </div>
            <div id={{para.collapse_id}} class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="col-md-12">
                        {% if para.subtitle_note %}
                            {{ para.subtitle_note | safe }}
                        {% endif %}
                        {% if para.image_path %}
                            <img class="{{ para.image_classes }}"
                                    src="{% static para.image_path %}"
                                    alt="{{ para.image_alt }}">
                        {% endif %}
                        {{ para.text | safe  }}
                        {% if para.references %}
                            <h5>References</h5>
                            {{ para.references | safe }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
