{% extends 'base.html'%}

{% load static %}

{% block content %}

    <div class="row">
        {% if error %}
            <div class="alert alert-primary alert-dismissible fade show">
                <strong>Note: </strong>{{error}}
            </div>
        {% endif %}
        <div class="col-md-8">
            <h3>{{title}}</h3>
            {{title_note | safe}}
        </div>
        <div class="col-md-4">
            {% if para.references %}
                <h3>References</h3>
            {% endif %}
        </div>
    </div>

   {% for para in paragraphs %}
       <div class="row">
            <div class="col-md-8">
                {% if para.subtitle %}
                    <h5> {{ para.subtitle | safe }} </h5>
                {% endif %}
                {% if para.subtitle_note %}
                    <p> {{ para.subtitle_note | safe }} </p>
                {% endif %}
                {% if para.image_path %}
                    <img class="{{ para.image_classes }}"
                         src="{% static para.image_path %}"
                         alt="{{ para.image_alt }}">
                {% endif %}
                {{ para.text | safe }}
            </div>
            <div class="col-md-4">
                {% if para.references %}
                    {{ para.references | safe }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}