{% extends 'base.html'%}

{% load static %}

{% block content %}
      <h1>Look up Information</h1>
<div class="demo">
  <p>
   Display a list of paragraphs from a database lookup.
  </p>
  <ul>
    <li>
        Click the button below.
    </li>
    <li>
        Choose the classification.  From there you can look at everything in that category or group.
    </li>
    <li>
        Definitions are just what they seem.
    </li>
    <li>
        How-tos are simple things that I have needed more than once, kind of like a cheatsheet for myself.
    </li>
    <li>
        Narrow down the data based on tags or text searches - not yet implemented
    </li>
  </ul>
  <div class="btn-toolbar text-center well">
    <a class="btn btn-primary" href="{% url 'projects:study_lookup' %}" role="button">Go to Lookup</a>
   </div>
{% endblock %}
