{% extends 'base.html'%}

{% load static %}

{% block content %}
      <h1>Look up Information</h1>
<div class="demo">
  <p>
   The study functionality is the heart of this site.  It's a way for me to keep track of and share information from the Internet.
  </p>
  <ul>
    <li>
        <p><strong>Ordered Paragraphs</strong> are groups of paragraphs that are ordered within a study group. The ordered paragraph dropdown menu for the <a href="{% url 'projects:study_lookup' %}">Study Lookup Page</a> contains group titles. Choosing from that menu, will display all of the paragraphs associated with the selected group. For example, if you select 'Upgrade Python on Catalina' you will get step by step instructions.</p><p>In the future, when I create a blog, each blog entry will be a group of ordered paragraphs. In the case of a blog, it will not be a study group, but a blog group, with its own page.</p>
    </li>
    <li>
        <p><strong>Standalone Paragraphs</strong> are information units, sometimes with multiple paragraphs, that stand alone.  A paragraph record can stand by itself, but still be part of an ordered group of paragraphs.</p>
    </li>
    <li>
        <p><strong>Flashcards</strong> are one of my favorite ways to learn, when I really want to know a subject through and through. In the past, I used index cards for this, which worked really well at the time, but were hard to keep organized.</p><p>Flashcards are another example of ordered paragraphs.  Each flashcard group is a different question and associated with a set of ordered paragraphs.</p><p>Originally I planned to write quizzes that could be graded, until imagining the experience of writing multiple choice or true and false questions and answers.  I decided to stick with the open-text Q and A format.</p>
    </li>
    <li>
        <p><strong>Search Database</strong> will be implemented within the next couple of months, unless I get a demanding job</p>
    </li>
    <li>
        <p><strong>Tagging</strong> is on the long term implementation plan, though it is not currently prioritized</p>
    </li>
  </ul>
  <div class="btn-toolbar text-center well">
    <a class="btn btn-primary" href="{% url 'projects:study_lookup' %}" role="button">Go to Lookup</a>
   </div>
{% endblock %}
