@import 'bootstrap/bootstrap';

/* Define standard variables and values for website */
$bgcolor: #FFF3E0;
$textcolor: #006600;
$navbar_color: #FFF3E0;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  .navbar_color {
    background-color: $navbar_color;
  }
}

