<!DOCTYPE html>
{% load compress %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    {% compress css %}
        <link type="text/x-scss" href="{% static 'bootstrap/bootstrap.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-light">
      <a class="navbar-brand" href="/">
          <img src='{%static "home/img/mac.png" %}' alt='logo' height='42' width='64'>
      </a>
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projects:all_projects' %}">Projects</a>
        </li>
      </ul>
    </nav>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>