/* Define standard variables and values for website */
$bgcolor: #FEF9E7;
$textcolor: #006600;
$navbar_color: #FEF9E7;
$btntoolbar_color: #9C640C;
$ref_link_color: #1A5276;
$modal_popup_color: #800020;
$code_color: #7D6608;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  .navbar_color {
    background-color: $navbar_color;
  }

  a.reference_link {
    color: $ref_link_color;
  }

  a.modal_popup_link {
    color: $modal_popup_color;
  }

  a.selected {
    color: $textcolor;
  }

  .navbar {
     .nav-link {
         a:hover {
            color: $textcolor;
            text-decoration: none;
          };
         .dropdown-menu {
           left: 166px;
           top: 39px;
           background-color: $bgcolor;
           min-width: 0;
           padding: 3px;
         }
     }
  }

  .tall-skinny {
    max-width: 360px;
    height: 70%;
    height: auto;
    margin: 3px;
  }

  .default {
    max-width: 410px;
    height: auto;
    margin: 5px;
  }

  .demo {
    margin-top: 15px;
    .btn-toolbar {
        padding: 10px 10px 10px 10px;
        text-align: center;
        .btn {
            margin: 10px 10px 10px 60px;
        }
    }
  }

  .study_lookup {
    .card-body {
        background-color: $bgcolor;
        .asteriskField {
            display: none;
        }
    }
  }

  #accordion {
    .card {
      background-color: $bgcolor;
    }
  }

  .num_six {
    pre {
      margin-bottom: 0;
      color: $code_color;
      code {
        color: $code_color;
      }
    }
    code {
      color: $code_color;
    }
  }

  p.plant_descriptions {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  li.plant_descriptions {
    margin-left: 10px;
    list-style-type: none;

  }

  li.plant_descriptions + p {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;

  }
}
